## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build folders
bin/
obj/
Installer/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

## Rider
.idea/

## OS files
Thumbs.db
.DS_Store

## Visual Studio Code
.vscode/

## Publish output
publish/

## Secrets and local config
appsettings.*.json
*.local
